#nav {
    display: flexbox;
    flex-direction: row;
    margin-bottom: 20px;

    a {
        color: white;
        font-size: small;
        text-decoration: none;
        background-color: rgb(188, 179, 188);
        padding: 3px 5px 3px 5px;
        border-radius: 4px;
        margin: 0px 4px 0px 4px;
        opacity: 60%;
        transition: all 0.3s ease;
    }

    a:hover {
        opacity: 100%;
    }

    .crumb {
        display: inline-block;
        color: grey;
        vertical-align: middle;
    }
}