#sorter {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    #bars {
        display: flex;
        flex-direction: row;
        transform: scale(1, -1);
        justify-content: space-around;
    }

    #highlights {
        z-index: 1;
        display: flex;
        flex-direction: row;
        transform: scale(1, -1);
        justify-content: space-around;
        transform: translateY(-100%);
    }

    #menu {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 7px;
        justify-content: space-around;
        margin-top: 7px;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #randomize:hover {
        background-color: lightgreen;
    }

    #bubble:hover {
        background-color: lightblue;
    }

    #selection:hover {
        background-color: violet;
    }

}