.vertex, .vertex-label {
    // border: 1px solid lightgrey;
    // margin: -1px;
    // background-image: url('../node_images/blank.jpg');
    background-color: lightgrey;
    // background-image: none;
    opacity: 70%;
    box-sizing: border-box;
}

.vertex-label {
    margin: auto;
}

.vertex:hover, .vertex-label:hover {
    opacity: 100%;
}

// SPECIFIC TYPES

.start {
    background-image: url('../node_images/standing.png');
    background-color: lightgreen;
}

.target {
    background-image: url('../node_images/target.png');
    background-color: violet;
}

.wall {
    background-color: black;
}

.up, .down {
    background-image: url('../node_images/up.png');
}

.left {
    background-image: url('../node_images/left.png');
}

.right {
    background-image: url('../node_images/right.png');
}

.trail {
    transition: all 0.1s ease;
    background-image: url('../node_images/oak.png');
}

.searched {
    background-image: url('../node_images/water.webp');
}

.sad {
    background-image: url('../node_images/sad.png');
}

.no-path {
    background-color: rgba(255, 47, 0, 0.43);
}