.bar {
    width: 10px;
    background-color: orange;
}



.bar-highlight {
    opacity: 20%;
    background-color: orange;
    z-index: 1;
}

.bar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.observing {
    background-color: blue;
}

.sorted {
    background-color: green;
}